body {
    background-color: rgb(210, 214, 231);
    color: rgb(86, 1, 139);
    font-family: Arial;
    margin: 0px;
}
div.menu {
    border: 7px solid rgba(161, 0, 201, 0.67);
    border-radius: 30 px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: rgb(249, 243, 167);
    box-shadow: 0 0 15px black;
}
a {
    color: red;
    text-decoration: none;
    transition: 0.5s 0.5s;

}
a:link {
    color: purple;
}
a:visited {
    color: rgb(142, 1, 149);
    opacity: 0.3;
}
a:hover {
    color: green;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;

}

header {
    background-color: rgb(86, 1, 139);
    color: rgb(189, 189, 56);
    font-family: Arial;
    padding: 15px; 
    font-size: 16pt; 
    border-radius: 30px;
}
main {
    margin: 10px 20px 45px;
}

footer {
    background-color: rgb(86, 1, 139); 
    color: rgb(189, 189, 56); 
    font-family: Arial; 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right; 
    border-radius: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}