body {
    background-color: rgb(210, 214, 231);
    color: rgb(86, 1, 139);
    font-family: Arial;
    margin: 0px;
}
a {
    color: red;
    text-decoration: none;
    transition: 0.5s 0.5s;

}
a:link {
    color: purple;
}
a:visited {
    color: rgb(142, 1, 149);
    opacity: 0.3;
}
a:hover {
    color: green;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;

}

header {
    background-color: rgb(86, 1, 139);
    color: rgb(189, 189, 56);
    font-family: Arial;
    padding: 15px; 
    font-size: 16pt; 
    border-radius: 30px;
}

footer {
    background-color: rgb(86, 1, 139); 
    color: rgb(189, 189, 56); 
    font-family: Arial; 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right; 
    border-radius: 30px;
}